<mat-sidenav-container>
    <app-toolbar></app-toolbar>
    <mat-drawer-container class="content-wrapper-drawer">
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</mat-sidenav-container>