<div class="page-header center">Next 5 day Weather detail for {{cityName}} at 9 AM </div>

<div class="card-container" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutAlign.lt-sm="space-around stretch">
    <ng-container *ngFor="let collection of weatherSummaryData; let i=index">

    <mat-card class="card">
        <div class="card-title">{{collection.date | date: 'EEEE, MMM d, y' }}</div>

        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between start" class="w-100-p">
            <span class="field key-color">temperature</span>
            <span class="value value-color">{{collection.temp}} °C</span>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between  start" class="w-100-p">
            <span class="field key-color">seaLevel</span>
            <span class="value value-color">{{collection.seaLevel}}</span>
        </div>
    </mat-card>
    </ng-container>
    
    </div>
    
    