<div class="page-header center">Weather detail for 5 European cities </div>


<div class="card-container" fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutAlign.lt-sm="space-around stretch">
    <ng-container *ngFor="let collection of weatherCollection; let i=index">

    <mat-card class="card pointer" [routerLink]="'weather/'+collection.name">
        <div class="card-title">{{collection.name}}</div>

        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between start" class="w-100-p">
            <span class="field key-color">temperature</span>
            <span class="value value-color">{{collection.temp}}°C</span>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between  start" class="w-100-p">
            <span class="field key-color">sunrise</span>
            <span class="value value-color">{{collection.sunrise  | date: 'MMM d, y hh:mm a'}}</span>

        </div>
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between  start" class="w-100-p">
            <span class="field key-color">sunset</span>
            <span class="value value-color">{{collection.sunset  | date: 'MMM d, y hh:mm a'}}</span>
        </div>
    </mat-card>
    </ng-container>
    
    </div>
    
    