
  .toolbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #000335;
    color: white;
  }

  .title {
    margin: 5%;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
  }