/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f0f4fc;
}

.page-header {
    font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
    margin: 30px;
  }

  .mat-drawer-container {
    background-color: #f0f4fc !important;
  }


  .pointer {
    cursor: pointer;
  }
  
  .card-container {
    margin: 40px;
  }

  .card {
    background: #fff;
    color: #000335;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    border-radius: 5px;
    height: auto;
    margin: 20px;
    font-size: 18px;
    line-height: 24px;
    padding: 30px 20px !important;
    min-width: 300px;
}

.card-title {
    min-height: 60px;
    font-size: 28px;
    line-height: 32px;
}

.key-color {
    color: #686882;
}

.value-color {
    color: #000335;
}

.center {
  text-align: center;
}
